.container-fluid {
  background: url(https://i.imgur.com/6MFuLBg.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}

h1 {
  font-size: 28px;
  font-family: 'Lobster', cursive;
  color: #4D0632;
}

.navigation {
  background: transparent;
  padding: 15px;
  align-items: center;
  /* background-color: #4D0632; */
  /* border-bottom: solid 1px #333333; */
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
}

.search-bar {
  width: 40vw;
  padding: 10px 30px;
  background-color: #4D0632;
  border-radius: 5px;
  color: white;
}

.welcome-title {
  margin-bottom: 20px;
}
.login {
  font-weight: 600;
  color: #4D0632;
}

.login-title {
  margin-bottom: 20px;
}

form {
  width: 100%;
}

.login-box {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  padding: 15px 50px;
  background-color: #4D0632;
  border: 2px solid #4D0632;
  border-bottom-left-radius: 50px;
  transition-duration: .5s;
  z-index: 1
}

.active {
  color: white;
  background-color: #4D0632;
}

.login-box label {
  color: white;
}

.login-box.hidden {
  transform: translateX(100%);
}

.login-box.visible {
  transform: none;
}

.login-gap {
  margin-top: 6px;
}
.login-buttons {
  margin-top: 20px;
}

.col-6 button {
  width: 100%;
}

.btn-primary {
  background-color: #4D0632;
  border: 1px solid #FEE098;
  color: #FEE098;
}

.btn-primary:hover {
  background-color: #FEE098;
  border: 1px solid #FEE098;
  color: #4D0632;
}

h2 {
  font-size: 30px;
  font-family: 'Lobster', cursive;
  color: #4D0632;
}

input {
  width: 100%;
}

.text-link {
  cursor: pointer;
  margin: 0 1em;
}

.col.spacer {
  flex-grow: 2;
}
